SERVER_ADDRESS=127.0.0.1
SERVER_PORT=8082
SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/eval_system?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=eval_system
DB_PASSWORD=
JWT_SIGNING_KEY=
UPLOAD_PATH=/www/wwwroot/JXJ2/backend/uploads
